@import-normalize;
@import 'colours.css';
@import 'elements.css';
@import 'buttons.css';

*,
*::before,
*::after {
  font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  color: var(--app-text);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--app-main);
}

.App-header {
  background-color: var(--app-ajPrimary);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.3vmin);
  line-height: 2rem;
  color: white;
}

/* Large */
.coinResults {
  display: flex;
  flex-flow: row wrap;
  margin:5px;
  justify-content: space-around;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .coinResults {
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .coinResults {
    flex-direction: column;
  }
}

.coinList,
.coinDetails {
  cursor: pointer;
  max-height: 50vh;
  border: var(--app-ajPrimary) 1px solid;
  border-radius: 0.35rem;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: auto;
  margin: 5px 0;
  /* overflow: scroll; */
}

.coinList {
  padding: 0;
  flex-basis: 26%;
}

.coinDetails {
  flex-basis: 70%;
}

.coinDetails__Header {
  margin: 0 auto;
}

.coinDetails__coinIcon {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  top: 8px;
  position: relative;
}

.coinDetails__coinName {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  margin: 0 0.5rem;
}

.coinDetails__listBox {
  padding: 0;
}

.coinDetails__listBox li {
  background-position: left center;
  background-repeat: none;
  background-size: 18px;
  background-repeat: no-repeat;
  list-style-type: none;
  line-height: 30px;
  padding: 0.5rem 1.3rem;
}

.coinList__listBox {
  padding: 0;
}

.coinList__priceSort {
  text-align: center;
  max-width: 220px;
}

.coinList__listItem {
  background-position: left center;
  background-repeat: none;
  background-size: 18px;
  background-repeat: no-repeat;
  list-style-type: none;
  line-height: 30px;
  padding: 0.5rem 1.3rem;
}

