@import-normalize;

.App-header {
  background-color: #D50032;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.coinResults {
  display: flex;
}

.coinList,
.coinDetails {
  cursor: pointer;
  margin: 0.2rem;
  padding: 0.6rem 0.2rem;
  height: 500px;
  border: #D50032 1px solid;
  border-radius: 0.35rem;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  scroll-behavior: auto;
  /* overflow: scroll; */
}

.coinList {
  width: 30%;
}

.coinDetails {
  width: 70%;
}

.coinList ul li,
.coinDetails ul li {
  list-style-type: none;
}

.coinIcon {
  width: 2rem;
  height: 2rem;
}

.coinName {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}